<html>
    <head>
         <title>This is view</title>   
    </head>
    <body>
        <h1>we are working on view</h1>
        <% console.log(request.article)%>
        <h2> Title: <%= request.article.title %></h2>
        <p> <%= request.article.content %> </p>
    </body>
</html>